# Handling missing values

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/arshad831/panda-challenge/main/data/landslides.csv")
df.head()

,id,date,time,country_name,state/province,population,landslide_type,trigger,fatalities
0,34,3/2/07,Night,United States,Virginia,16000,Landslide,Rain,NaN
1,42,3/22/07,NaN,United States,Ohio,17288,Landslide,Rain,NaN
2,56,4/6/07,NaN,United States,Pennsylvania,15930,Landslide,Rain,NaN
3,59,4/14/07,NaN,Canada,Quebec,42786,Riverbank collapse,Rain,NaN
4,61,4/15/07,NaN,United States,Kentucky,6903,Landslide,Downpour,0.0

## Check and handle missing values

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1693 non-null   int64
 1   date            1690 non-null   object
 2   time            629 non-null    object
 3   country_name    1693 non-null   object
 4   state/province  1692 non-null   object
 5   population      1693 non-null   int64
 6   landslide_type  1692 non-null   object
 7   trigger         1691 non-null   object
 8   fatalities      1446 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 119.2+ KB

In [17]:
#df.groupby('country_name').count(dropna=False)
df.['country_name'].value_counts()

SyntaxError: ignored

In [33]:
#df.landslide_type.isna().sum()
df.groupby('landslide_type').count()

,id,date,time,country_name,state/province,population,trigger,fatalities
landslide_type,,,,,,,,
Complex,48,48,14,48,48,48,48,37
Creep,5,5,2,5,5,5,5,5
Debris flow,38,38,19,38,38,38,38,31
Lahar,2,2,2,2,2,2,2,1
Landslide,866,864,236,866,866,866,865,730
Mudslide,635,634,302,635,634,635,635,549
Other,14,14,6,14,14,14,14,14
Riverbank collapse,5,5,0,5,5,5,5,4
Rockfall,70,70,45,70,70,70,69,65
Rockslide,1,1,0,1,1,1,1,1
Snow avalanche,2,2,1,2,2,2,2,2
Unknown,1,1,0,1,1,1,1,1
landslide,1,1,0,1,1,1,1,1
mudslide,4,4,1,4,4,4,4,4

In [34]:
df.isna().sum()

id                   0
date                 3
time              1064
country_name         0
state/province       1
population           0
landslide_type       1
trigger              2
fatalities         247
dtype: int64

In [39]:
df1 = df[df['date'].isnull()]
df1

,id,date,time,country_name,state/province,population,landslide_type,trigger,fatalities
1482,7042,NaN,Morning,United States,Kansas,857,Mudslide,Downpour,0.0
1497,7080,NaN,13:00,United States,Ohio,4113,Landslide,Unknown,0.0
1526,7165,NaN,12:15,United States,Indiana,2085,Landslide,Rain,0.0

In [41]:
df['time'].value_counts()

Night            97
Morning          88
Afternoon        58
Early morning    36
3:00:00          12
                 ..
1:13              1
9:40:00           1
11:50:00          1
                  1
21:06             1
Name: time, Length: 159, dtype: int64

In [44]:
df['time'].isna().sum()

0

In [43]:
df['time']=df['time'].fillna("Not Known")

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1693 non-null   int64
 1   date            1690 non-null   object
 2   time            1693 non-null   object
 3   country_name    1693 non-null   object
 4   state/province  1692 non-null   object
 5   population      1693 non-null   int64
 6   landslide_type  1692 non-null   object
 7   trigger         1691 non-null   object
 8   fatalities      1446 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 119.2+ KB

In [54]:
df['fatalities'].isna().sum()

0

In [52]:
mean=df['fatalities'].mean()
mean

1.4591977869986168

In [53]:
df['fatalities'] = df['fatalities'].fillna(mean)